body {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#bodylink {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #000000;
}

#bodylink:hover {
    color: #ffdf5f;
}

button {
    background-color: black;
    color: #71cee7;
    border-style: hidden;
    border-color: darkgrey;    
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: medium;
    box-shadow: 1px 1px 1px #888888;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.submitbutton {
    width: 80%;
    background-color: lightskyblue;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    height: 100%;
    color: black;
}

header {
    margin: 0;
    display: block;
    background-color: black; 
    box-shadow: 0px 7px 4px #999999;
    position: sticky;
    top: 0;
}

.headermenu_center {
    width: auto;
}

.headermenu_left {
    width: 100px;

}

.headermenu_right {
    width: 200px;
}

#logo {
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin: 0px;
}

section {
    margin: 5px;
}

.tableheader {
    width: 100%;  
}

  .tablelist {
    width: 50%;
}

td {
    text-align: left;
    padding: 0px;
}

#tdgamelist1 {
    text-align: center;
}

.tdloginbutton {
    height: 30px;
    width: 100%;
    text-align: center;
}

.tdloginheader {
    height: 30px;
    width: 100%;
}

th {
    padding: 5px;
    text-align: center;
}

#topheader {
    text-align: right;
    font-size: 110%;
    color: #71cee7;
}

#trfooter {
    align-content: center;
    width: 100%;
}

#userlogo {
    height: 35px;
    width: 35px;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;
}


/* navigation */
/*           */

nav li {
    display: inline-block;
    list-style-type: none;
    position: relative;
  }

  nav a:hover {
    color: #ffdf5f;
  }
 
 nav li ul {
    display: none;
    position: absolute;
    width: 120px;
    right: -40px;
    top: 100%;
    margin: 0;
    padding: 0;
    background-color: #555555;
    box-shadow: 0px 7px 4px #999999;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
 
 nav li > ul {
    display: block;
    padding: 5px;
    margin: 5px;
}

nav li > a {
    color: #ffffff;
}

 nav li > a {
    color: #fff;
    text-align: left;
    display: block;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 100%;
    color: #71cee7;
    margin-top: 5px;
    margin-left: 10px;
 }


/* menu icon */
/*           */
 .container {
    display: inline-block;
    cursor: pointer;
  } 

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: #71cee7;
    margin: 6px 0;
  }

  #line {
    display: inline-block;
    width: 120px;
    height: 2px;
    background-color: #71cee7;
  }