body {
    margin: 0px;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

#bodylink {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #000000;
}

#bodylink:hover {
    color: #ffdf5f;
}

header {
    margin: 0;
    display: block;
    background-color: #6454ff;
    position: sticky;
    top: 0;
}

main {
    margin: 0px;
}

section {
    margin: 5px;
}

  .submitbutton {
    width: 80%;
    background-color: lightskyblue;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    height: 100%;
}

  .tablelist {
    width: 50%;
}

td {
    text-align: left;
    padding: 0px;
}

.tdloginbutton {
    height: 30px;
    width: 100%;
    text-align: center;
}

.tdloginheader {
    height: 30px;
    width: 100%;
}

th {
    padding: 5px;
    text-align: center;
}

.thlist {
    width: 30%;
}

#topheader {
    padding: 5px;
    text-align: right;
    color: #eeffff;
}

#topheaderlink {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: #eeffff  ;
}

#topheaderlink:hover {
    color: #ffdf5f;
}
